! ------------------------------------------------------------------------------
! Import Colour from ~/.xrdb
! ------------------------------------------------------------------------------

! #include ".xrdb/rofi/nord"
#include ".xrdb/colors/gruvbox"

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------


Xft.dpi: 116
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


rofi.lines:                         15
rofi.color-enabled:                 true
rofi.separator-style:               none 
rofi.width:                         50
rofi.line-padding:                  10
rofi.hide-scrollbar:                True
rofi.columns:                       2
rofi.show-icons:		    True
